/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.container {
  margin: 1rem auto;
  max-width: 80rem;
}

.spacer {
  flex: 1 1 auto;
}

.fullWide {
  width: 100%;
}

.mat-header-row {
  background-color: rgb(245,245,245);
}

.mat-row {
  cursor: pointer;
}
.mat-row:nth-child(odd) {
  background-color: rgb(245,245,245);
}
.mat-row:hover {
  background-color: rgb(235,235,235);
}
